<html lang="en" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>

</head>
<body class="container-fluid">
<header>
  <nav id="main-header"
       class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand text-uppercase mr-auto">ORDERS</span>
    <ul class="navbar-nav float-right">
    </ul>
  </nav>
</header>

  <form [formGroup]="dateForm" class="form-inline" id="myform" >

    <div class="form-group mb-2">
    <label class="form-control-label" *ngIf="dateForm.get('date1').invalid && processValidation"
           required="required" [ngClass] ="'error'"
           for="date1"><p class="alert alert-secondary">Date is required to filter.</p></label>
    <input id="date1" type="text"
           formControlName="date1"
           class="form-control"
           [(ngModel)]="start"
           name="start"
           placeholder="From"/>

      <div *ngIf="date1.invalid && (date1.dirty || date1.touched)"
           class="alert alert-danger">

        <div *ngIf="date1.errors.required">
          start date is required.
        </div>

        <div *ngIf="date1.errors.pattern">
          date must follow pattern yyyy-mm-dd.
        </div>
      </div>

  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label  class="form-control-label" *ngIf="dateForm.get('date2').invalid  && processValidation"
            required="required" [ngClass] ="'error'"
            for="date2"><p class="alert alert-secondary">Date is required to filter.</p></label>
    <input  id="date2" type="text"
            formControlName="date2"
            class="form-control"
            [(ngModel)]="end"
            name="end"
            placeholder="To"/>

    <div *ngIf="date2.invalid && (date2.dirty || date2.touched)"
         class="alert alert-danger">

      <div *ngIf="date2.errors.required">
        start date is required.
      </div>

      <div *ngIf="date2.errors.pattern">
        Date must follow pattern yyyy-mm-dd.
      </div>

    </div>

  </div>
  <button type="submit" form="myform" class="btn btn-dark" (click)="getOrdersFilter()">Filter</button>
</form>
<!--(click)="getOrders()"-->

<section id="orders">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
              <th>OrderId</th>
              <th>PetrolQty</th>
              <th>OrderDate</th>
              <th>TruckId</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders | async">
              <td>{{order.orderId}}</td>
              <td>{{order.petrolQty}}</td>
              <td>{{order.orderDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{order.truckId}}</td>

              <td class="text-right">
                <span data-toggle="modal" data-target="#deleteDialog">
                            	<a href="orders"  class="btn-sm btn-outline-secondary"
                                 ngbTooltip="delete truck"
                                 placement="top">
                                	<i class="fa fa-remove"></i>
                                <span  class="d-none d-md-inline" (click)="deleteOrder(order)">Delete</span></a>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
