<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="common-header">

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Departments List</title>
        <link rel="stylesheet" th:href="../../static/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="../../static/css/bootstrap.css">
        <link rel="stylesheet" th:href="/webapp/static/css/style.css">

 </head>

 <body>
 <div th:fragment="navbar">
 <nav  class="p-0 pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light" >
     <button class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#navbarsNav">
         <span class="navbar-toggler-icon"></span>
     </button>

     <a href="../departments.html" class="navbar-brand"><img src="../../static/img/logo.svg"></a>

     <div class="collapse navbar-collapse" id="navbarsNav">
         <div class="navbar-nav">
             <a class="nav-item nav-link active" href="#">Departments <span class="sr-only">(current)</span></a>
             <a class="nav-item nav-link" href="#">Employees</a>
         </div>
     </div>
 </nav>

 </div>

 <div th:fragment="body-bottom-scripts">
     <script th:src="@{/static/js/jquery.min.js}"></script>
     <script th:src="@{/static/js/popper.min.js}"></script>
     <script th:src="@{/static/js/bootstrap.min.js}"></script>
 </div>

 </body>
</html>