<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>

<nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light pl-0">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}"
             width="64" height="32">
    </a>
    <div class="collapse navbar-collapse" id="navbarsNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link"
               href="departments.html"
               th:href="@{/departments}">Departments</a>
            <a class="nav-item nav-link active"
               href="employees.html"
               th:href="@{/employees}">Employees
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>
</nav>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light text-dark">
        <a href = "employees.html" class="navbar-brand text-uppercase mr-auto">
            Employees
        </a>
        <ul class="p-0 pr-3 navbar-nav float-right">
            <li class="nav-item">
                <a href="employee.html"
                   th:href="@{/employee}"
                   class="pr-3 btn btn-light"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Add employee">
                    <i class="fa fa-plus"></i>
                    <span class="pl-1 d-none d-sm-inline">Add</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<section id="employees">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" th:if="not ${employees.isEmpty()}">
                    <table class="table table-striped table-light">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Salary</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "employee : ${employees}">
                            <td th:text = "${employee.employeeName}"></td>
                            <td th:text = "${employee.email}"></td>
                            <td th:text = "${employee.salary}"></td>
                            <td class="text-right">
                                <a title="Edit employee"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="employee.html"
                                   th:href="@{|/employee/${employee.employeeId}}"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${employee.employeeId},data-name=${employee.employeeName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete employee"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span>
                                </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card alert alert-info" th:if="${employees.isEmpty()}">
                    <h2>Nothing found</h2>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="deleteDialog"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please, confirm delete operation
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$('#deleteDialog').on('show.bs.modal', function (event) {
    var target = $(event.relatedTarget)
    $(this).find('.modal-body').text('Please, confirm delete operation: "' + target.data('name') + '"')
    document.getElementById('deleteUrl').href = '/employee/' + target.data('id') + '/delete';
})

</script>
</body>
</html>
